# Ignore node_modules
node_modules

# Ignore logs
*.log

# Ignore environment variables
.env

# Ignore Dockerfile and docker-compose.yml
docker-compose.yml
Dockerfile

# Ignore system files
.DS_Store

# Ignore build outputs
build
dist

# Ignore other unnecessary files
*.tmp
*.bak
